@charset "UTF-8";
/* Scss Document */
/* Reset CSS
---------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

address, em {
  font-style: normal;
}

img {
  vertical-align: bottom;
}

/* Fonts
---------------------------------------------------*/
body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-weight: 500;
}

/* clearfix
---------------------------------------------------*/
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

/* Scss Document */
/* 記述例
p {
  @include font-size(12);
}*/
/* 記述例
@include media(sp) {
	background-color: green;
}*/
.mt0 {
  margin-top: 0px;
}

.mb0 {
  margin-bottom: 0px;
}

.pt0 {
  padding-top: 0px;
}

.pb0 {
  padding-bottom: 0px;
}

.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.pt5 {
  padding-top: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mb25 {
  margin-bottom: 25px;
}

.pt25 {
  padding-top: 25px;
}

.pb25 {
  padding-bottom: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mb35 {
  margin-bottom: 35px;
}

.pt35 {
  padding-top: 35px;
}

.pb35 {
  padding-bottom: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.pt40 {
  padding-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mb45 {
  margin-bottom: 45px;
}

.pt45 {
  padding-top: 45px;
}

.pb45 {
  padding-bottom: 45px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.pt50 {
  padding-top: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

.mt55 {
  margin-top: 55px;
}

.mb55 {
  margin-bottom: 55px;
}

.pt55 {
  padding-top: 55px;
}

.pb55 {
  padding-bottom: 55px;
}

.mt60 {
  margin-top: 60px;
}

.mb60 {
  margin-bottom: 60px;
}

.pt60 {
  padding-top: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.mt65 {
  margin-top: 65px;
}

.mb65 {
  margin-bottom: 65px;
}

.pt65 {
  padding-top: 65px;
}

.pb65 {
  padding-bottom: 65px;
}

.mt70 {
  margin-top: 70px;
}

.mb70 {
  margin-bottom: 70px;
}

.pt70 {
  padding-top: 70px;
}

.pb70 {
  padding-bottom: 70px;
}

.mt75 {
  margin-top: 75px;
}

.mb75 {
  margin-bottom: 75px;
}

.pt75 {
  padding-top: 75px;
}

.pb75 {
  padding-bottom: 75px;
}

.mt80 {
  margin-top: 80px;
}

.mb80 {
  margin-bottom: 80px;
}

.pt80 {
  padding-top: 80px;
}

.pb80 {
  padding-bottom: 80px;
}

.mt85 {
  margin-top: 85px;
}

.mb85 {
  margin-bottom: 85px;
}

.pt85 {
  padding-top: 85px;
}

.pb85 {
  padding-bottom: 85px;
}

.mt90 {
  margin-top: 90px;
}

.mb90 {
  margin-bottom: 90px;
}

.pt90 {
  padding-top: 90px;
}

.pb90 {
  padding-bottom: 90px;
}

.mt95 {
  margin-top: 95px;
}

.mb95 {
  margin-bottom: 95px;
}

.pt95 {
  padding-top: 95px;
}

.pb95 {
  padding-bottom: 95px;
}

.mt100 {
  margin-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.pt100 {
  padding-top: 100px;
}

.pb100 {
  padding-bottom: 100px;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.5;
  background-color: #231B00;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after {
  box-sizing: border-box;
}

.l-inner {
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.l-inner:after {
  content: "";
  clear: both;
  display: block;
}

a {
  text-decoration: none;
  color: #ccc;
  outline: none;
}

.nolink a, .nolink-bg a {
  pointer-events: none;
  cursor: default;
}

.nolink a {
  opacity: 0.5;
}

.nolink-bg {
  background-color: #ccc !important;
}

.headInfo {
  padding: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}
.headInfo--inner {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .headInfo--inner {
    flex-flow: column;
    padding: 0 10px;
  }
}
.headInfo--inner:after {
  content: none;
}
@media screen and (max-width: 768px) {
  .headInfo__date {
    margin-bottom: 5px;
  }
}
.headInfo__lang li {
  display: inline-block;
}
.headInfo__lang li + li {
  margin-left: 10px;
}
.headInfo__lang li a {
  display: block;
  background-color: white;
  color: #231B00;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 2px 20px;
  transition: all 0.3s ease;
}
.headInfo__lang li a:hover {
  background-color: #231B00;
  color: white;
  border: 1px solid white;
}

.navi {
  background-color: #FFF100;
  opacity: 0.8;
}
.navi__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}
@media screen and (max-width: 768px) {
  .navi__list {
    padding: 5px 10px;
  }
}
.navi__list:after {
  content: none;
}
@media screen and (max-width: 768px) {
  .navi__list li {
    width: 50%;
    margin-bottom: 5px;
  }
}
.navi__list li a {
  color: #231B00;
  position: relative;
  display: inline-block;
}
.navi__list li a::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: white;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.navi__list li a:hover::after {
  transform: scale(1, 1);
}
.navi__list li a:after {
  background: #231B00;
}
@media screen and (max-width: 768px) {
  .navi__list__logo {
    width: 100% !important;
    text-align: center;
  }
}
.navi__list__logo img {
  width: 110px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.title1, .subPage-title {
  text-align: center;
  margin-bottom: 30px;
}
.title1__head {
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .title1__head {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.title1__head:before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 2px;
  left: 0px;
  background-color: rgba(255, 241, 0, 0.7);
  z-index: -1;
}

.subPage-title {
  padding: 50px 0 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .subPage-title {
    padding: 30px 0 30px;
  }
}
.subPage-title .title1__head {
  font-size: 38px;
  font-size: 2.375rem;
}

.title2 {
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "Oswald", "Open Sans", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.title2:after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: #8566C2;
  margin: 20px auto 0;
}

.title3 {
  color: #231B00;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  background-color: #FFF100;
  padding: 6px 0;
}

.title4 {
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  border-left: 5px solid #8566C2;
  border-bottom: 1px solid #8566C2;
  padding-left: 10px;
}

.pageNav {
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .pageNav {
    padding-bottom: 30px;
  }
}
.pageNav--inner {
  max-width: 400px;
}
@media screen and (max-width: 768px) {
  .pageNav--inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.pageNav__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .pageNav__list {
    justify-content: space-around;
  }
}
.pageNav__list li {
  background-color: #FFF100;
  padding-right: 15px;
  margin-bottom: 5px;
  position: relative;
  transition: opacity 0.3s ease;
}
.pageNav__list li:hover {
  opacity: 0.5;
}
.pageNav__list li:after {
  position: absolute;
  top: 4px;
  right: 15px;
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-color: transparent transparent #FFF100 #FFF100;
  transform: rotate(-45deg);
  border-color: transparent transparent black black;
}
.pageNav__list li a {
  color: #3A3A3A;
  display: block;
  width: 100%;
  padding: 8px 35px 8px 20px;
}

.keyVisual {
  width: 100%;
}
.keyVisual__show {
  width: 100%;
  height: 410px;
  overflow: hidden;
  position: relative;
}
.keyVisual__head {
  position: absolute;
  top: 10%;
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 768px) {
  .keyVisual__head {
    top: 10%;
  }
}
.keyVisual__head__title {
  color: #231B00;
  background-color: rgba(255, 241, 0, 0.8);
  padding: 20px 60px 20px 20px;
  font-size: 48px;
  font-size: 3rem;
  font-family: "Oswald", "Open Sans", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .keyVisual__head__title {
    font-size: 40px;
    font-size: 2.5rem;
    text-align: center;
  }
}
.keyVisual__head__supporter {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
}
@media screen and (max-width: 768px) {
  .keyVisual__head__supporter {
    margin-top: 10px;
  }
}
.keyVisual__head__btn {
  text-align: center;
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  .keyVisual__head__btn {
    margin: 10px auto 0;
  }
}
@media screen and (max-width: 1100px) {
  .keyVisual__head__btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .keyVisual__head__btn a {
    padding: 10px !important;
  }
}
.keyVisual__head__fs19 {
  font-size: 19px;
  font-size: 1.1875rem;
}
.keyVisual__head--plant a {
  font-size: 16px !important;
}
.keyVisual__head--plant__bold {
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
}
.keyVisual__head--doc a {
  font-size: 20px !important;
}
.keyVisual__head__kosha span {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
}
.keyVisual__head__kosha a {
  transition: opacity 0.3s ease;
}
.keyVisual__head__kosha a:hover {
  opacity: 0.5;
}
.keyVisual__head__kosha a:hover {
  opacity: 0.7;
}

.mobile__btn {
  padding: 20px 10px;
  display: none;
}
@media screen and (max-width: 1100px) {
  .mobile__btn {
    display: block;
  }
}

.about--inner {
  max-width: 900px;
  padding: 50px 0 50px;
  padding-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .about--inner {
    padding: 30px 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .about--inner {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .about--inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.about__lead {
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 20px;
}
.about__desc {
  line-height: 1.75;
}

.outline {
  padding: 80px 0;
  background-image: url(../img/bg_outline.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .outline {
    padding: 80px 10px;
  }
}
.outline--inner {
  max-width: 800px;
}
.outline__tbl {
  width: 100%;
  background-color: white;
  color: #231B00;
}
.outline__tbl th, .outline__tbl td {
  border: 1px solid #8566C2;
  padding: 18px;
}
.outline__tbl__title {
  background-color: #8566C2;
  font-family: "Oswald", "Open Sans", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-weight: 500;
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
}
.outline__tbl__th {
  background-color: #ebe6f5;
  text-align: center;
  vertical-align: middle;
}
.outline__category a {
  display: flex;
  width: 100%;
  color: #8566C2;
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 5px 0 0 35px;
  position: relative;
}
.outline__category a:before {
  content: url(../img/icon_arrow_down.svg);
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-right: 10px;
  position: absolute;
  left: 0;
}
.outline__category a:hover {
  opacity: 0.5;
}

.shows {
  padding: 50px 0 50px;
}
@media screen and (max-width: 768px) {
  .shows {
    padding: 30px 0 30px;
  }
}
.shows__unit {
  background-color: rgba(255, 255, 255, 0.99);
  color: #231B00;
  text-align: center;
}
.shows__unit + .shows__unit {
  margin-top: 50px;
}
.shows__subUnit {
  padding: 50px 10px;
}
.shows__title {
  background-color: #FFF100;
  font-size: 22px;
  font-size: 1.375rem;
  padding: 15px 10px;
}
.shows__logo {
  margin-bottom: 15px;
  text-align: center;
}
.shows__logo a {
  display: inline-block;
  max-width: 500px;
}
.shows__desc {
  margin-bottom: 15px;
}
.shows__slideUnit {
  max-width: 700px;
  margin: 0 auto;
}
.shows__slider1, .shows slider2 {
  padding: 0;
}

.exhibit__fee {
  padding: 50px 0 50px;
  background-color: white;
  background-image: url(../img/bg_fee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .exhibit__fee {
    padding: 30px 0 30px;
  }
}
.exhibit__fee--inner {
  max-width: 800px;
}
.exhibit__fee__title {
  color: #53378b;
  border-top: 3px solid #8566C2;
  border-bottom: 3px solid #8566C2;
  background-color: white;
  margin-bottom: 30px;
}
.exhibit__fee__tbl {
  width: 95%;
  background-color: white;
  color: #231B00;
  margin: 0 auto;
}
.exhibit__fee__tbl--space {
  margin-bottom: 60px;
}
.exhibit__fee__tbl th, .exhibit__fee__tbl td {
  border: 1px solid #8566C2;
  padding: 18px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .exhibit__fee__tbl th, .exhibit__fee__tbl td {
    padding: 10px;
  }
}
.exhibit__fee__tbl__title {
  background-color: #8566C2;
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
}
.exhibit__fee__tbl__title__append {
  font-size: 15px;
  font-size: 0.9375rem;
}
.exhibit__fee__tbl__th {
  background-color: #ebe6f5;
}
.exhibit__fee__tbl__th--pk {
  text-align: left;
  max-width: 230px;
}
.exhibit__fee__tbl__th--pk a {
  color: #3A3A3A;
  transition: opacity 0.3s ease;
}
.exhibit__fee__tbl__th--pk a:hover {
  opacity: 0.5;
}
.exhibit__fee__tbl__th--pk span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #8566C2;
  color: white;
  font-size: 24px;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
}
.exhibit__fee__tbl__right {
  text-align: right;
}

.booth {
  width: 95%;
  margin: 50px auto;
}
.booth__title {
  width: 100%;
  color: white;
  background-color: #8566C2;
  position: relative;
}
.booth__title__num {
  position: absolute;
  top: -15px;
  left: -25px;
  width: 70px;
  height: 70px;
  background-color: white;
  color: #8566C2;
  font-size: 40px;
  font-size: 2.5rem;
  border: 2px solid #8566C2;
  border-radius: 50%;
}
.booth__unit {
  display: flex;
  flex-flow: row wrap;
  color: #3A3A3A;
  background-color: white;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .booth__unit {
    flex-flow: column;
  }
}
.booth__unit--left {
  width: 50%;
  padding-right: 40px;
}
@media screen and (max-width: 768px) {
  .booth__unit--left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
}
.booth__unit--right {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .booth__unit--right {
    width: 100%;
    text-align: center;
  }
}
.booth__tbl {
  width: 90%;
}
@media screen and (max-width: 768px) {
  .booth__tbl {
    width: 100%;
  }
}
.booth__tbl tr:nth-child(1) {
  border-bottom: 1px solid #8566C2;
}
.booth__tbl tr:nth-child(2n+3) {
  background-color: #e5def2;
}
.booth__tbl tr th {
  text-align: left;
  font-size: 18px;
  font-size: 1.125rem;
}
.booth__tbl tr td {
  padding: 5px 10px;
}

.exhibit__products {
  padding: 50px 0 50px;
}
@media screen and (max-width: 768px) {
  .exhibit__products {
    padding: 30px 0 30px;
  }
}
.exhibit__products--inner {
  max-width: 800px;
}
.exhibit__products__title {
  color: #53378b;
  border-top: 3px solid #8566C2;
  border-bottom: 3px solid #8566C2;
  background-color: white;
  margin-bottom: 40px;
}

.categoryDetail__list, .categoryDetail__txt, .categoryDetail__define {
  border: 1px solid #8566C2;
  margin-bottom: 20px;
  background-color: white;
  color: #231B00;
}

.categoryDetail__list li:before, .categoryDetail__define dt:before {
  content: "●";
  color: #8566C2;
  padding-right: 5px;
}

.categoryDetail {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .categoryDetail {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.categoryDetail--inner {
  max-width: 800px;
}
.categoryDetail--subInner {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .categoryDetail--subInner {
    width: 100%;
  }
}
.categoryDetail__subTitle1 {
  margin-bottom: 20px;
}
.categoryDetail__subTitle2 {
  background-color: #8566C2;
  color: white;
}
.categoryDetail figure {
  margin-bottom: 20px;
}
.categoryDetail figure img {
  box-shadow: 0 0 10px 0 #888;
}
.categoryDetail__list {
  padding: 20px;
}
.categoryDetail__list li {
  display: inline-block;
  line-height: 1.8;
  margin-right: 15px;
}
.categoryDetail__list__right {
  display: block !important;
  text-align: right;
  margin-right: 0 !important;
  font-weight: 600;
  margin-left: auto;
}
.categoryDetail__list__right:before {
  content: none !important;
}
.categoryDetail__txt {
  padding: 10px;
}
.categoryDetail__define {
  line-height: 1.8;
  padding: 20px;
}
.categoryDetail__define dt {
  color: #8566C2;
  font-weight: bold;
}
.categoryDetail__define dd {
  padding-left: 20px;
}

.visitor {
  background-color: #2d2d2d;
}
.visitor--inner {
  max-width: 800px;
  padding: 50px 0 50px;
}
@media screen and (max-width: 768px) {
  .visitor--inner {
    padding: 30px 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .visitor--inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.visitor__lead {
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 30px;
}
.visitor__lead img {
  max-width: 100px;
  margin: 0 10px;
}
.visitor__slideUnit {
  max-width: 700px;
  margin: 0 auto;
}
.visitor__slider {
  padding: 0;
}
.visitor__list {
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .visitor__list {
    padding-bottom: 30px;
  }
}
.visitor__list__title {
  background-color: #8566C2;
  text-align: center;
  font-size: 22px;
  font-size: 1.375rem;
  padding: 10px;
}
.visitor__list__body {
  background-color: white;
  color: #231B00;
  padding: 20px 30px;
}
@media screen and (max-width: 768px) {
  .visitor__list__body {
    padding: 10px 20px;
  }
}
.visitor__list__body li {
  display: inline;
  line-height: 2.3;
  margin-right: 5px;
}
.visitor__list__body li:before {
  content: "●";
  color: #8566C2;
  margin-right: 2px;
}
.visitor__list__status {
  font-weight: 600;
}
.visitor__list__status:before {
  content: none !important;
}
@media screen and (max-width: 768px) {
  .visitor__list__status br {
    display: none;
  }
}

.contact {
  padding: 50px 0 50px;
  color: #231B00;
  font-family: "Oswald", "Open Sans", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-weight: 300;
  background-color: #FFF100;
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 30px 0 30px;
  }
}
.contact--inner {
  max-width: 850px;
}
.contact__unit {
  display: flex;
  flex-flow: row;
}
@media screen and (max-width: 768px) {
  .contact__unit {
    flex-flow: column;
  }
}
.contact__unit + .contact__unit {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .contact__unit + .contact__unit {
    margin-top: 30px;
  }
}
.contact__title {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 30px;
}
@media screen and (max-width: 768px) {
  .contact__title {
    padding: 10px 20px;
  }
}
.contact__title__area {
  display: inline-block;
  background-color: #231B00;
  color: white;
  padding: 3px 15px;
  margin-top: 5px;
}
.contact__adr {
  border-left: 1px solid rgba(35, 27, 0, 0.3);
  padding: 20px 0 20px 30px;
}
@media screen and (max-width: 768px) {
  .contact__adr {
    padding: 0 20px;
  }
}
.contact__adr__com {
  display: inline-block;
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .contact__adr__com {
    margin-bottom: 0;
  }
}
.contact__adr__num {
  margin-bottom: 5px;
}
.contact__adr__num br {
  display: none;
}
@media screen and (max-width: 768px) {
  .contact__adr__num br {
    display: inline;
  }
}
.contact__adr__num__categ {
  font-size: 22px;
  font-size: 1.375rem;
  padding-right: 10px;
}
.contact__adr__num__body {
  font-size: 30px;
  font-size: 1.875rem;
  padding-right: 20px;
}
.contact__adr__num__body a {
  color: #231B00;
}
.contact__adr__num__body a[href^="mailto:"] {
  position: relative;
  display: inline-block;
}
.contact__adr__num__body a[href^="mailto:"]::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: white;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.contact__adr__num__body a[href^="mailto:"]:hover::after {
  transform: scale(1, 1);
}
.contact__adr__num__body a[href^="mailto:"]::after {
  background: #231B00;
}
.contact__adr__post {
  font-size: 16px;
  font-size: 1rem;
}
.contact__logo {
  display: inline-block;
  margin-left: 10px;
  max-width: 80px;
}
.contact__logo a {
  transition: opacity 0.3s ease;
}
.contact__logo a:hover {
  opacity: 0.5;
}

.footer {
  background-color: #3A3A3A;
  color: white;
  padding: 25px 5px 0;
  text-align: center;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__logo img {
  max-width: 110px;
}
.footer__nav {
  margin-bottom: 20px;
  font-size: 15px;
  font-size: 0.9375rem;
}
.footer__nav li {
  display: inline;
}
@media screen and (max-width: 768px) {
  .footer__nav li {
    display: block;
  }
}
.footer__nav li a {
  color: white;
  transition: opacity 0.3s ease;
}
.footer__nav li a:hover {
  opacity: 0.5;
}
.footer__nav li:after {
  content: "　|　";
}
@media screen and (max-width: 768px) {
  .footer__nav li:after {
    content: none;
  }
}
.footer__nav li:last-child:after {
  content: none;
}
.footer__copy {
  font-size: 14px;
  font-size: 0.875rem;
  padding-bottom: 15px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#page-top a {
  display: block;
  width: 70px;
}
@media screen and (max-width: 768px) {
  #page-top a {
    width: 45px;
  }
}
#page-top a:hover {
  opacity: 0.5;
}

.button a, .button-bk a, .btn-brochure a, .btn-guide a {
  display: block;
  width: 100%;
  background-color: #FFF100;
  color: #231B00;
  font-size: 22px;
  font-size: 1.375rem;
  font-family: "Oswald", "Open Sans", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  padding: 20px;
  text-align: center;
  border: 1px solid #231B00;
  transition: all 0.3s ease;
}
.button a:hover, .button-bk a:hover, .btn-brochure a:hover, .btn-guide a:hover {
  background-color: #231B00;
  color: #FFF100;
  border: 1px solid #FFF100;
}

.button-bk a {
  background-color: #231B00;
  color: #FFF100;
  border: 1px solid #FFF100;
}
.button-bk a:hover {
  background-color: #FFF100;
  color: #231B00;
  border: 1px solid #FFF100;
}

.btnArea {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .btnArea {
    flex-flow: column;
  }
}

.btn-brochure {
  padding: 50px 0 50px;
  max-width: 760px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .btn-brochure {
    padding: 30px 0 30px;
  }
}
.btn-brochure a {
  font-size: 26px;
  font-size: 1.625rem;
}
@media screen and (max-width: 768px) {
  .btn-brochure {
    padding: 20px 10px 20px 10px;
  }
}
.btn-brochure--bk {
  padding-bottom: 30px;
}
.btn-brochure--bk a {
  background-color: #231B00;
  border: 1px solid #231B00;
  color: white;
}
.btn-brochure--bk a:hover {
  background-color: #FFF100;
  color: #231B00;
  border: 1px solid #231B00;
}

.btn-guide {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .btn-guide {
    padding-top: 30px;
  }
}
.btn-guide a {
  font-family: "Open Sans", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 20px 40px;
}

.information {
  background: white;
}
.information ::-webkit-scrollbar {
  width: 10px;
}
.information ::-webkit-scrollbar-track {
  background: white;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}
.information ::-webkit-scrollbar-thumb {
  background-color: #E0E0E0;
  border-radius: 10px;
  box-shadow: none;
}
.information--inner {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: #3A3A3A;
  padding: 20px;
}
.information--inner:before {
  content: "";
  display: block;
  width: 0;
  min-height: 100px;
}
@media screen and (max-width: 768px) {
  .information--inner {
    width: 100%;
    flex-flow: column;
  }
  .information--inner:before {
    min-height: 0;
  }
}
.information__title {
  width: 20%;
  padding-right: 4em;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .information__title {
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-bottom: 1em;
  }
}
.information__body {
  padding-left: 4em;
  border-left: 1px solid #3A3A3A;
  overflow-y: auto;
  max-height: 200px;
}
@media screen and (max-width: 768px) {
  .information__body {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
  }
}
.information__body dt {
  clear: both;
  float: left;
  width: 7em;
}
@media screen and (max-width: 768px) {
  .information__body dt {
    float: none;
  }
}
.information__body dd {
  margin-left: 7em;
}
@media screen and (max-width: 768px) {
  .information__body dd {
    margin-left: 0;
    margin-bottom: 1em;
  }
}
.information__body dd a {
  color: #3A3A3A;
  text-decoration: underline;
  transition: opacity 0.3s ease;
}
.information__body dd a:hover {
  opacity: 0.5;
}
.information__new {
  color: red;
  margin-right: 10px;
  font-style: italic;
}

.download__btn {
  max-width: 700px;
  margin: 50px auto 130px;
}
.download__btn li + li {
  margin-top: 50px;
}

.exhibit--subTitle {
  margin-top: 20px;
  font-size: 26px;
  font-size: 1.625rem;
}

.report--inner {
  max-width: 800px;
}
@media screen and (max-width: 768px) {
  .report--inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.report__desc {
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
  font-weight: bold;
}
.report__btn li {
  margin-bottom: 20px;
}
.report__btn li a {
  font-size: 18px;
  font-size: 1.125rem;
  padding: 10px;
}
.report__fig {
  max-width: 650px;
  margin: 0 auto 100px;
}

/*# sourceMappingURL=style.css.map */
